menu "Blink configuration"

    config BLINK_GPIO
        int "GPIO pin number"
        #range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 25
        help
            The GPIO pin number to which the LED is connected.

    config BLINK_PERIOD
        int "Blink period in milliseconds"
        range 10 3600000
        default 1000
        help
            The time that the LED will be turned on and off.

endmenu